body {
    text-align: center;
    font-family: "Bungee Spice";
    background: rgb(14, 14, 57);
}

h1 {
    text-align: center;
    font-size: 50px;
    word-spacing: 5px;
}

div {
    word-spacing: 5px;

}

button {
    margin: 10px;
    width: 150px;
}

.textInput {
    margin: 10px;
    width: 150px;
}

.gameboard {
    word-spacing: 5px;
}



.submit {
    height: 20px;
    width: 60px;
}