body {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 50px;
    word-spacing: 5px;
}

p {

}

div {
    word-spacing: 5px;

}

button {
    margin: 10px;
    width: 150px;
}

.textInput {
    margin: 10px;
    width: 150px;
}

.gameboard {
    word-spacing: 5px;
}

.startGame {

}